#!/usr/bin/make -f

# Prepare source for packaging:
# git archive HEAD | bzip2 -z > ../qtquickvcp_${VERSION}.orig.tar.bz2

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Define DEB_HOST_MULTIARCH
include /usr/share/dpkg/architecture.mk

# Define & export CFLAGS, CXXFLAGS, LDFLAGS
include /usr/share/dpkg/buildflags.mk

export QT_SELECT := qt5

%:
	dh $@ --parallel

override_dh_auto_clean:
	dh_auto_clean
        # These are regenerated during the build
	rm -f apps/MachinekitClient/MachinekitClient.ServiceDisplay/translations/*

override_dh_auto_install-arch:
        # Hack to pick up libs built in the '3rdparty' directory
	dh_auto_install -- \
	    LD_LIBRARY_PATH=$${LD_LIBRARY_PATH}:$(CURDIR)/debian/qml-module-qtquick-vcp/usr/lib/$(DEB_HOST_MULTIARCH)

# override_dh_install:
# 	dh_install --fail-missing
